Repository bots-house/go-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: ci, scope: api, scope: bot, scope: cli, scope: pkg, scope: store, scope: worker, scope: logic, dependencies

.github/labeler.yml:

"scope: ci": .github/workflows/**
"scope: api": api/**
"scope: bot": bot/**
"scope: cli": 
  - cli/**
  - main.go

"scope: pkg": pkg/**
"scope: store": store/**
"scope: worker": worker/**

"scope: logic": 
  - core/**
  - service/**

"dependencies":
  - go.mod
  - go.sum

feat(types): implement Message.CommandArguments() method (#6)
  types.go
  types_test.go
Labels: none

feat(types): add IsPrivate method to Chat type
  types.go
  types_test.go
Labels: none

docs(types): add comment for IsPrivate method
  types.go
Labels: none

docs(types): add comment for IsPrivate method (#7)
  types.go
Labels: none

feat(personal): add method for lot identity changing (#250)
  api/api.go
  api/gen/restapi/configure_birzzha.go
  api/gen/restapi/embedded_spec.go
  api/gen/restapi/operations/birzzha_api.go
  api/gen/restapi/operations/personal_area/change_lot_identity.go
  api/gen/restapi/operations/personal_area/change_lot_identity_parameters.go
  api/gen/restapi/operations/personal_area/change_lot_identity_responses.go
  api/gen/restapi/operations/personal_area/change_lot_identity_urlbuilder.go
  api/models/lot.go
  api/personal.go
  api/swagger.yml
  service/admin/service_lot.go
  service/personal/service_lot.go
Labels: scope: api, scope: logic

feat(client): implement GetUserProfilePhotos method
  client_bot.go
  client_bot_test.go
  types.go
Labels: none

fix(tg): fix resolve entity return error (#258)
  pkg/tg/resolver_bot.go
Labels: scope: pkg

feat(catalog): add published lots count to GET /topics
  api/catalog.go
  api/gen/models/topics.go
  api/gen/restapi/configure_birzzha.go
  api/gen/restapi/embedded_spec.go
  api/gen/restapi/operations/catalog/get_topics_responses.go
  api/models/topic.go
  api/swagger.yml
  service/catalog/service.go
Labels: scope: api, scope: logic

chore(catalog): resolve requested changes
  api/catalog.go
  api/gen/models/topic_item.go
  api/gen/models/topics.go
  api/gen/restapi/configure_birzzha.go
  api/gen/restapi/embedded_spec.go
  api/gen/restapi/operations/catalog/get_topics_responses.go
  api/models/topic.go
  api/swagger.yml
  core/lot.go
  go.mod
  service/catalog/service.go
  store/postgres/lot.go
Labels: scope: api, scope: store, scope: logic, dependencies

chore(types): implement NewInlineKeyboardButtonCallbackData constructor
  types.go
Labels: none

feat(client_edit): implement EditMessageText and EditMessageReplyMarkup methods
  client_edit.go
Labels: none

fix: fix golangci-lint errors
  client_edit.go
  client_send_test.go
  request.go
  request_test.go
  response.go
  types.go
Labels: none

feat(client_edit): implement edit methods (#8)
  client_edit.go
  client_send_test.go
  request.go
  request_test.go
  response.go
  types.go
Labels: none

feat(client): implement GetChatMembersCount
  client_bot.go
  client_bot_test.go
Labels: none

add type checking methods for Chat
  types.go
Labels: none

fix tests
  pkg/tg/resolver_bot_test.go
Labels: scope: pkg

feat(client, types): implement GetChatMember method and ChatMember struct
  client_bot.go
  client_bot_test.go
  types.go
Labels: none

feat(types): add constructors for ReplyKeyboard
  types.go
Labels: none

chore(types): add useless method isReplyMarkup();
  types.go
Labels: none

feat(client): implement DeleteMessage method
  client_delete.go
Labels: none

feat(client): impplement send methods for media
  client_send.go
Labels: none

feat(client): add EditMessageMedia method
  client_edit.go
Labels: none

chore(client): remove useless cases from switch in SendMediaGroup
  client_edit.go
  client_send.go
Labels: none

chore(client): remove useless structures
  client_send.go
Labels: none

chore(client): change InputMedia structure
  client_send.go
  client_send_test.go
Labels: none

fix(client): fix SendMediaGroup method
  client_send.go
  client_send_test.go
Labels: none

feat(client): implement ForwardMessage method
  client_send.go
Labels: none

feat(client): add other InputMedia structures
  client_edit.go
  client_send.go
Labels: none

feat(client): implement answerCallbackQuery method
  client_answer.go
Labels: none

fix(client): change callbackQueryID type
  client_answer.go
Labels: none

chore(UserID): change from int to int64
  types.go
Labels: none

chore(UserID): change from int to int64 (#9)
  types.go
Labels: none
