Repository bots-house/go-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: ci, scope: api, scope: bot, scope: cli, scope: pkg, scope: store, scope: worker, scope: logic, dependencies

ci: build docker image on push (#87)
  .github/workflows/build-docker-images.yml
  .github/workflows/ci.yml
  README.md
Labels: scope: ci

feat(admin): implement lot rendering (#81)
  api/admin.go
  api/api.go
  api/gen/models/admin_post_text.go
  api/gen/models/post_text.go
  api/gen/restapi/configure_birzzha.go
  api/gen/restapi/embedded_spec.go
  api/gen/restapi/operations/admin/admin_get_post_text.go
  api/gen/restapi/operations/admin/admin_get_post_text_parameters.go
  api/gen/restapi/operations/admin/admin_get_post_text_responses.go
  api/gen/restapi/operations/admin/admin_get_post_text_urlbuilder.go
  api/gen/restapi/operations/admin/admin_send_post_preview.go
  api/gen/restapi/operations/admin/admin_send_post_preview_parameters.go
  api/gen/restapi/operations/admin/admin_send_post_preview_responses.go
  api/gen/restapi/operations/admin/admin_send_post_preview_urlbuilder.go
  api/gen/restapi/operations/birzzha_api.go
  api/models/lot.go
  api/swagger.yml
  cli/run.go
  go.mod
  service/admin/service.go
  service/admin/service_lot.go
  service/posting/lot_template.go
  service/posting/service.go
  service/posting/service_lot.go
Labels: scope: api, scope: cli, scope: logic, dependencies

feat(worker): sync lot data in background (#85)
  .env.example
  cli/config.go
  cli/run.go
  pkg/storage/storage.go
  service/personal/service_lot.go
  worker/worker.go
  worker/worker_lot.go
Labels: scope: cli, scope: pkg, scope: worker, scope: logic

feat(storage): add global dir for s3 storage (#96)
  .env.example
  cli/config.go
  cli/run.go
  pkg/storage/space.go
Labels: scope: cli, scope: pkg

Add default s3 global dir (#98)
  cli/config.go
Labels: scope: cli

chore: add before deploy part in PR tmpl
  .github/pull_request_template.md
Labels: none

fix(tg): fix resolve by username for groups (#101)
  pkg/tg/resolver_bot.go
Labels: scope: pkg

fix(tg): daily coverage unknown type of nil (#103)
  pkg/stat/telegram_telemetr.go
Labels: scope: pkg

ci(automation): swagger and docker linter (#106)
  .github/workflows/ci.yml
  Dockerfile
  Makefile
Labels: scope: ci

chore(admin): add returning value in update lot response
  api/admin.go
  api/gen/restapi/configure_birzzha.go
  api/gen/restapi/embedded_spec.go
  api/gen/restapi/operations/admin/admin_update_lot_responses.go
  api/swagger.yml
  service/admin/service_lot.go
Labels: scope: api, scope: logic

fix(admin): fix immutable topics on lot
  service/admin/service_lot.go
Labels: scope: logic

ci: release flow (#113)
  .dockerignore
  .github/workflows/build-docker-images.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .hadolint.yaml
  Dockerfile
  cli/run.go
  main.go
Labels: scope: ci, scope: cli

change daily coverage to average coverage (#111)
  service/catalog/service_resolve.go
  service/catalog/service_resolve_test.go
  service/personal/service_lot.go
  worker/worker_lot.go
Labels: scope: worker, scope: logic

feat(posting): impl (#63)
  .gitignore
  api/admin.go
  api/api.go
  api/gen/models/input_post.go
  api/gen/models/lot_statuses_count.go
  api/gen/models/post.go
  api/gen/restapi/configure_birzzha.go
  api/gen/restapi/embedded_spec.go
  api/gen/restapi/operations/admin/admin_create_post.go
  api/gen/restapi/operations/admin/admin_create_post_parameters.go
  api/gen/restapi/operations/admin/admin_create_post_responses.go
  api/gen/restapi/operations/admin/admin_create_post_urlbuilder.go
  api/gen/restapi/operations/birzzha_api.go
  api/models/lot.go
  api/models/post.go
  api/swagger.yml
  cli/config.go
  cli/run.go
  core/lot.go
  core/post.go
  go.mod
  go.sum
  service/admin/service.go
  service/admin/service_lot.go
  service/admin/service_post.go
  service/posting/service.go
  service/posting/service_post.go
  store/postgres/dal/boil_table_names.go
  store/postgres/dal/boil_types.go
  store/postgres/dal/lot.go
  store/postgres/dal/post.go
  store/postgres/lot.go
  store/postgres/migrations/14_status_published.go
  store/postgres/migrations/15_post.go
  store/postgres/post.go
  store/postgres/postgres.go
  worker/worker.go
  worker/worker_post.go
Labels: scope: api, scope: cli, scope: store, scope: worker, scope: logic, dependencies

feat: healthcheck (#117)
  Dockerfile
  api/api.go
  api/gen/models/health.go
  api/gen/models/health_check.go
  api/gen/restapi/configure_birzzha.go
  api/gen/restapi/embedded_spec.go
  api/gen/restapi/operations/birzzha_api.go
  api/gen/restapi/operations/health/get_health.go
  api/gen/restapi/operations/health/get_health_parameters.go
  api/gen/restapi/operations/health/get_health_responses.go
  api/gen/restapi/operations/health/get_health_urlbuilder.go
  api/health.go
  api/models/health.go
  api/swagger.yml
  cli/health.go
  cli/run.go
  pkg/health/service.go
Labels: scope: api, scope: cli, scope: pkg

feat(service): save login callback in redis (#119)
  api/auth.go
  bot/bot_start.go
  cli/run.go
  service/auth/service.go
Labels: scope: api, scope: bot, scope: cli, scope: logic

feat(api): limit number of requests (#110)
  api/api.go
  api/gen/restapi/embedded_spec.go
  api/gen/restapi/operations/auth/login_via_bot_responses.go
  api/gen/restapi/operations/catalog/get_daily_coverage_responses.go
  api/gen/restapi/operations/catalog/resolve_telegram_responses.go
  api/gen/restapi/operations/personal_area/create_lot_responses.go
  api/gen/restapi/operations/personal_area/upload_lot_file_responses.go
  api/swagger.yml
  cli/run.go
  go.mod
  go.sum
  pkg/rate/limiter.go
  worker/worker_lot.go
Labels: scope: api, scope: cli, scope: pkg, scope: worker, dependencies

feat(admin): add new fields to lot response (#125)
  api/gen/models/admin_full_lot.go
  api/gen/models/admin_lot.go
  api/gen/restapi/configure_birzzha.go
  api/gen/restapi/embedded_spec.go
  api/gen/restapi/operations/admin/admin_get_lots_parameters.go
  api/models/lot.go
  api/swagger.yml
  core/lot.go
  service/admin/service_lot.go
  service/admin/service_post.go
  service/posting/service_post.go
  store/postgres/dal/lot.go
  store/postgres/lot.go
  store/postgres/migrations/16_lot_scheduled_at.go
Labels: scope: api, scope: store, scope: logic

feat(store): add migration for topics inserting (#128)
  store/postgres/migrations/18_topics.go
Labels: scope: store

feat(ci): run unit and integration tests as a part of pipeline (#131)
  .github/workflows/ci.yml
  pkg/tg/query_type_test.go
  pkg/tg/resolver_bot_test.go
  service/catalog/service_resolve_test.go
  store/postgres/landing_test.go
  store/postgres/postgres_test.go
  store/postgres/shared/ctx_test.go
Labels: scope: ci, scope: pkg, scope: store, scope: logic

feat(admin): implement posts management in admin panel (#127)
  api/admin.go
  api/api.go
  api/gen/models/input_post.go
  api/gen/models/post_item.go
  api/gen/models/post_list_item.go
  api/gen/models/post_lot.go
  api/gen/restapi/configure_birzzha.go
  api/gen/restapi/embedded_spec.go
  api/gen/restapi/operations/admin/admin_delete_post.go
  api/gen/restapi/operations/admin/admin_delete_post_parameters.go
  api/gen/restapi/operations/admin/admin_delete_post_responses.go
  api/gen/restapi/operations/admin/admin_delete_post_urlbuilder.go
  api/gen/restapi/operations/admin/admin_get_posts.go
  api/gen/restapi/operations/admin/admin_get_posts_parameters.go
  api/gen/restapi/operations/admin/admin_get_posts_responses.go
  api/gen/restapi/operations/admin/admin_get_posts_urlbuilder.go
  api/gen/restapi/operations/admin/admin_update_post.go
  api/gen/restapi/operations/admin/admin_update_post_parameters.go
  api/gen/restapi/operations/admin/admin_update_post_responses.go
  api/gen/restapi/operations/admin/admin_update_post_urlbuilder.go
  api/gen/restapi/operations/birzzha_api.go
  api/models/post.go
  api/swagger.yml
  core/post.go
  service/admin/service_post.go
  store/postgres/dal/post.go
  store/postgres/favorite.go
  store/postgres/lot.go
  store/postgres/migrations/17_post_title.go
  store/postgres/post.go
  store/sort.go
Labels: scope: api, scope: store, scope: logic

feat(api): grant (editing) and application price for landing model (#123)
  api/admin.go
  api/api.go
  api/gen/models/admin_settings_garant.go
  api/gen/models/admin_settings_garant_update.go
  api/gen/models/landing.go
  api/gen/restapi/configure_birzzha.go
  api/gen/restapi/embedded_spec.go
  api/gen/restapi/operations/admin/admin_update_settings_garant.go
  api/gen/restapi/operations/admin/admin_update_settings_garant_parameters.go
  api/gen/restapi/operations/admin/admin_update_settings_garant_responses.go
  api/gen/restapi/operations/admin/admin_update_settings_garant_urlbuilder.go
  api/gen/restapi/operations/birzzha_api.go
  api/models/landing.go
  api/models/settings.go
  api/swagger.yml
  core/settings.go
  service/admin/service_settings.go
  service/landing/service.go
  store/postgres/dal/boil_table_names.go
  store/postgres/dal/boil_types.go
  store/postgres/dal/settings.go
  store/postgres/dal/views.go
  store/postgres/migrations/19_settings_garant.go
  store/postgres/settings.go
Labels: scope: api, scope: store, scope: logic

feat(api): add submodel Garant to the Settings (#135)
  api/gen/models/admin_settings.go
  api/gen/restapi/configure_birzzha.go
  api/gen/restapi/embedded_spec.go
  api/models/settings.go
  api/swagger.yml
Labels: scope: api

chore(admin): make lot and title nullable in post (#134)
  api/admin.go
  api/gen/models/input_post.go
  api/gen/restapi/configure_birzzha.go
  api/gen/restapi/embedded_spec.go
  api/models/post.go
  api/swagger.yml
  core/post.go
  go.sum
  service/admin/service_post.go
  service/posting/service_post.go
  store/postgres/dal/boil_table_names.go
  store/postgres/dal/boil_types.go
  store/postgres/dal/lot.go
  store/postgres/dal/post.go
  store/postgres/dal/views.go
  store/postgres/migrations/20_post_lot_id_and_title_null.go
  store/postgres/post.go
Labels: scope: api, scope: store, scope: logic, dependencies

chore: add production deploy hooks
  .github/deploy.sh
  .github/workflows/deploy-production.yml
  .release-it.json
Labels: scope: ci

fix(landing): reviews order
  service/landing/service_reviews.go
Labels: scope: logic

type(feat): connect sentry 500 events (workers, bots) (#140)
  .env.example
  api/admin.go
  api/api.go
  api/auth.go
  api/authz/authorizer.go
  api/catalog.go
  api/landing.go
  api/middleware.go
  api/models/error.go
  api/personal.go
  api/webhook.go
  bot/bot.go
  bot/middleware.go
  cli/config.go
  cli/run.go
  core/env.go
  core/modules.go
  go.mod
  go.sum
  pkg/log/log.go
  pkg/sentrylog/breadcrumb.go
  pkg/sentrylog/sentry.go
  worker/worker.go
  worker/worker_landing.go
Labels: scope: api, scope: bot, scope: cli, scope: pkg, scope: worker, scope: logic, dependencies

feat(personal): lot status, decline reason, order (#151)
  api/gen/models/owned_lot.go
  api/gen/restapi/configure_birzzha.go
  api/gen/restapi/embedded_spec.go
  api/models/lot.go
  api/swagger.yml
  service/personal/service_lot.go
Labels: scope: api, scope: logic

fix(catalog): show only published and scheduled lots
  core/lot.go
Labels: scope: logic

ci: fix deploy production workflow
  .github/workflows/deploy-production.yml
Labels: scope: ci

type(feat): notify client when lot status changed (#149)
  .env.example
  cli/run.go
  pkg/notifications/notify.go
  service/admin/notifications.go
  service/admin/service.go
  service/admin/service_lot.go
  service/admin/service_post.go
  service/auth/notifications.go
  service/auth/service.go
  service/personal/notifications.go
  service/personal/service.go
  service/personal/service_lot.go
  service/personal/service_payment.go
  service/posting/notifications.go
  service/posting/service.go
  service/posting/service_post.go
Labels: scope: cli, scope: pkg, scope: logic

fix(personal): extension and remove auth
  api/gen/restapi/configure_birzzha.go
  api/gen/restapi/embedded_spec.go
  api/gen/restapi/operations/birzzha_api.go
  api/gen/restapi/operations/personal_area/upload_lot_file.go
  api/personal.go
  api/swagger.yml
  service/personal/service_lot.go
Labels: scope: api, scope: logic

fix(personal): file upload ext check
  service/personal/service_lot.go
Labels: scope: logic

fix: disable direct gateway
  service/personal/service_payment.go
Labels: scope: logic

fix: disable direct gateway (change price)
  service/personal/service_payment.go
Labels: scope: logic

fix(store/lot): similar lots
  store/postgres/lot.go
Labels: scope: store

fix(catalog): get hidden lots by direct id
  service/catalog/service_lot.go
Labels: scope: logic

fix(store): filter boundaries on published only
  store/postgres/lot.go
Labels: scope: store

feat(admin): implement POST /admin/lots/{id}/cancel?reason_id=<id> endpoint (#168)
  api/admin.go
  api/api.go
  api/gen/restapi/configure_birzzha.go
  api/gen/restapi/embedded_spec.go
  api/gen/restapi/operations/admin/admin_cancel_lot.go
  api/gen/restapi/operations/admin/admin_cancel_lot_parameters.go
  api/gen/restapi/operations/admin/admin_cancel_lot_responses.go
  api/gen/restapi/operations/admin/admin_cancel_lot_urlbuilder.go
  api/gen/restapi/operations/birzzha_api.go
  api/swagger.yml
  service/admin/service_lot.go
Labels: scope: api, scope: logic

refactor(personal): refactor doc strings (#160)
  api/gen/restapi/configure_birzzha.go
  api/gen/restapi/embedded_spec.go
  api/gen/restapi/operations/personal_area/upload_lot_file.go
  api/swagger.yml
  service/personal/service_lot.go
Labels: scope: api, scope: logic

.github/labeler.yml:

"scope: ci": .github/workflows/**
"scope: api": api/**
"scope: bot": bot/**
"scope: cli": 
  - cli/**
  - main.go

"scope: pkg": pkg/**
"scope: store": store/**
"scope: worker": worker/**

"scope: logic": 
  - core/**
  - service/**

"dependencies":
  - go.mod
  - go.sum
