Repository bots-house/go-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: ci, scope: api, scope: bot, scope: cli, scope: pkg, scope: store, scope: worker, scope: logic, dependencies

.github/labeler.yml:

"scope: ci": .github/workflows/**
"scope: api": api/**
"scope: bot": bot/**
"scope: cli": 
  - cli/**
  - main.go

"scope: pkg": pkg/**
"scope: store": store/**
"scope: worker": worker/**

"scope: logic": 
  - core/**
  - service/**

"dependencies":
  - go.mod
  - go.sum

chore(admin): add IsMessageIsNotModified helper
  pkg/tg/helpers.go
  service/admin/service_post.go
Labels: scope: pkg, scope: logic

feat(bot): default reply on unknown interaction
  bot/bot.go
Labels: scope: bot

feat(personal): implement full discounted coupon (#206)
  cli/run.go
  core/coupon.go
  core/coupon_apply.go
  service/notifications/service.go
  service/personal/notifications.go
  service/personal/service.go
  service/personal/service_payment.go
  store/postgres/coupon_apply.go
Labels: scope: cli, scope: store, scope: logic

fix(admin): post details button
  service/admin/service_post.go
Labels: scope: logic

fix(admin): make no-refundable payments with null external_id
  core/payment.go
  service/admin/service_lot.go
Labels: scope: logic

fix(admin): add lot metrics refresh to UpdateLot
  service/admin/service_lot.go
Labels: scope: logic

fix(personal): add lot metrics refreshinh after change price payment
  service/personal/service_payment.go
Labels: scope: logic

fix: status of payment with full discount
  service/personal/service_payment.go
Labels: scope: logic

fix: status of payment with full discount in changePrice method
  service/personal/service_payment.go
Labels: scope: logic

feat(api): dont return error
  api/bot.go
Labels: scope: api

Base Client (#1)
  .github/workflows/pr.yml
  .gitignore
  .golangci.yml
  client.go
  client_bot.go
  client_bot_test.go
  client_edit.go
  client_send.go
  client_send_test.go
  client_test.go
  examples/echo/.gitignore
  examples/echo/main.go
  examples/iss/api.go
  examples/iss/main.go
  go.mod
  go.sum
  handler.go
  input_file.go
  input_file_test.go
  polling.go
  request.go
  request_test.go
  response.go
  testdata/gopher.png
  testdata/robot.mp4
  types.go
  types_test.go
Labels: scope: ci, dependencies

feat(admin): implement lot details refreshing (#214)
  api/admin.go
  api/api.go
  api/gen/restapi/configure_birzzha.go
  api/gen/restapi/embedded_spec.go
  api/gen/restapi/operations/admin/admin_refresh_lot.go
  api/gen/restapi/operations/admin/admin_refresh_lot_parameters.go
  api/gen/restapi/operations/admin/admin_refresh_lot_responses.go
  api/gen/restapi/operations/admin/admin_refresh_lot_urlbuilder.go
  api/gen/restapi/operations/birzzha_api.go
  api/swagger.yml
  cli/run.go
  pkg/tg/query_type.go
  pkg/tg/query_type_test.go
  pkg/tg/resolver_bot.go
  pkg/tg/resolver_cache.go
  service/admin/service.go
  service/admin/service_lot.go
Labels: scope: api, scope: cli, scope: pkg, scope: logic

fix(admin): fix bug related with optional avatar in RefreshLot
  service/admin/service_lot.go
Labels: scope: logic

chore(landing): make channel nullable in GET /landing
  api/models/landing.go
  service/landing/service.go
Labels: scope: api, scope: logic

chore(posting): add new price ranges
  service/posting/lot_template.go
Labels: scope: logic

feat(admin): implement posts sorting and filtering (#236)
  api/admin.go
  api/api.go
  api/catalog.go
  api/gen/restapi/configure_birzzha.go
  api/gen/restapi/embedded_spec.go
  api/gen/restapi/operations/admin/admin_get_posts_parameters.go
  api/gen/restapi/operations/admin/admin_get_posts_urlbuilder.go
  api/personal.go
  api/swagger.yml
  core/post.go
  service/admin/service_post.go
  store/postgres/post.go
Labels: scope: api, scope: store, scope: logic

fix(api): fix lot.ExternalID
  api/models/lot.go
Labels: scope: api

fix(api): fix posts response
  api/models/post.go
Labels: scope: api

implement SetWebhook method
  client_bot.go
Labels: none

write tests for SetWebhook;
  client_bot_test.go
Labels: none

implement SetWebhook method (#2)
  client_bot.go
  client_bot_test.go
Labels: none

feat(client): implement GetChat method
  client_bot.go
  client_bot_test.go
  request.go
Labels: none

use Peer interface instead opts
  client_bot.go
  client_bot_test.go
Labels: none

feat(client): implement GetChat method (#3)
  client_bot.go
  client_bot_test.go
  request.go
Labels: none

feat(client): implement GetFile method
  client_bot.go
  types.go
Labels: none

fix
  client_bot.go
  types.go
Labels: none

add getFileURL method
  client.go
  types.go
Labels: none

feat(client): implement GetFile method (#4)
  client.go
  client_bot.go
  types.go
Labels: none

change go.mod
  go.mod
  go.sum
Labels: dependencies

replace mr-linch with bots-house
  DESIGN.md
  client_send_test.go
  examples/echo/main.go
  examples/iss/api.go
  examples/iss/main.go
  go.sum
Labels: dependencies

chore(types): implement New... constructors for button types
  types.go
Labels: none

resolve requested changes
  types.go
Labels: none

resolvef requested changes
  client_bot_test.go
  client_send.go
  client_send_test.go
  types.go
Labels: none

add NewInlineKeyboardRow constructor
  client_send_test.go
  types.go
Labels: none

resolve requested changes
  client_bot_test.go
  types.go
Labels: none

reomve useless logic
  types.go
Labels: none

feat(types): implement New... constructors for button types (#5)
  client_send.go
  client_send_test.go
  types.go
Labels: none

feat(types): implement Message.CommandArguments() method
  types.go
Labels: none

resolve requested changes
  types.go
Labels: none

testing(types): write tests for some message methods
  types_test.go
Labels: none
