Repository bots-house/go-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: ci, scope: api, scope: bot, scope: cli, scope: pkg, scope: store, scope: worker, scope: logic, dependencies

fix(personal): change Parse method (#161)
  service/personal/resource_parser.go
Labels: scope: logic

feat(posting): format of publications in channel (#158)
  .env.example
  cli/run.go
  core/lot.go
  core/user.go
  service/posting/lot_template.go
  service/posting/service.go
  service/posting/service_post.go
Labels: scope: cli, scope: logic

chore: add bot info to logs
  bot/bot.go
Labels: scope: bot

chore: add `make run-frontend` command
  Makefile
  README.md
  docker-compose.yml
Labels: none

chore: make monthly income zero (#172)
  api/gen/restapi/configure_birzzha.go
  api/models/lot.go
  core/lot.go
  service/admin/service_lot.go
  service/personal/service_lot.go
  store/postgres/dal/lot.go
  store/postgres/lot.go
  store/postgres/migrations/22_lot_metrics_montly_income_required.go
Labels: scope: api, scope: store, scope: logic

fix(store): change 22 migration
  store/postgres/migrations/22_lot_metrics_montly_income_required.go
Labels: scope: store

feat(admin): change post template (#176)
  api/admin.go
  api/gen/models/input_post.go
  api/gen/models/post_text.go
  api/gen/restapi/configure_birzzha.go
  api/gen/restapi/embedded_spec.go
  api/swagger.yml
  core/post.go
  core/topic.go
  service/admin/service_lot.go
  service/admin/service_post.go
  service/posting/lot_template.go
  service/posting/service_post.go
Labels: scope: api, scope: logic

fix(posting): fix template
  service/posting/service_post.go
Labels: scope: logic

feat(api): unit pay (#173)
  .env.example
  api/api.go
  api/gen/models/unit_pay_error_resp.go
  api/gen/models/unit_pay_success_resp.go
  api/gen/restapi/configure_birzzha.go
  api/gen/restapi/embedded_spec.go
  api/gen/restapi/operations/birzzha_api.go
  api/gen/restapi/operations/personal_area/create_application_payment_parameters.go
  api/gen/restapi/operations/personal_area/create_change_price_payment_parameters.go
  api/gen/restapi/operations/webhook/handle_gateway_notification.go
  api/gen/restapi/operations/webhook/handle_gateway_unitpay_notification.go
  api/gen/restapi/operations/webhook/handle_gateway_unitpay_notification_parameters.go
  api/gen/restapi/operations/webhook/handle_gateway_unitpay_notification_responses.go
  api/gen/restapi/operations/webhook/handle_gateway_unitpay_notification_urlbuilder.go
  api/models/error.go
  api/models/unit_pay.go
  api/swagger.yml
  api/webhook.go
  cli/config.go
  cli/run.go
  core/payment.go
  service/payment/gateway.go
  service/payment/interkassa/gateway.go
  service/payment/unitpay/gateway.go
  service/personal/notifications.go
  service/personal/service_payment.go
  store/postgres/dal/boil_table_names.go
  store/postgres/dal/boil_types.go
  store/postgres/dal/views.go
  store/postgres/migrations/21_unitpay_payment_gateway.go
Labels: scope: api, scope: cli, scope: store, scope: logic

fix(posting): fix template
  service/posting/lot_template.go
Labels: scope: logic

fix(payment): unitpay in discovery
  api/gen/models/application_invoice.go
  api/gen/models/change_price_invoice.go
  api/gen/restapi/configure_birzzha.go
  api/gen/restapi/embedded_spec.go
  api/gen/restapi/operations/personal_area/create_application_payment_parameters.go
  api/gen/restapi/operations/personal_area/create_change_price_payment_parameters.go
  api/gen/restapi/operations/webhook/handle_gateway_notification_parameters.go
  api/gen/restapi/operations/webhook/handle_gateway_unitpay_notification_parameters.go
  api/swagger.yml
  service/personal/service_payment.go
Labels: scope: api, scope: logic

bug(service): fix nil pointer map of metadata for unit pay (#181)
  service/personal/service_payment.go
Labels: scope: logic

feat(admin): implement post editing (#143)
  api/admin.go
  api/gen/models/admin_lot.go
  api/gen/models/post.go
  api/gen/models/post_item.go
  api/gen/restapi/configure_birzzha.go
  api/gen/restapi/embedded_spec.go
  api/gen/restapi/operations/admin/admin_delete_post_parameters.go
  api/gen/restapi/operations/admin/admin_delete_post_urlbuilder.go
  api/models/post.go
  api/swagger.yml
  cli/run.go
  core/post.go
  go.mod
  go.sum
  service/admin/service.go
  service/admin/service_post.go
  service/posting/service_post.go
  store/postgres/dal/boil_types.go
  store/postgres/dal/post.go
  store/postgres/migrations/21_post_message_id_and_status.go
  store/postgres/post.go
Labels: scope: api, scope: cli, scope: store, scope: logic, dependencies

fix(postgres): change migration number
  store/postgres/migrations/23_post_message_id_and_status.go
Labels: scope: store

feat(posting): change posting flow (#185)
  api/gen/restapi/configure_birzzha.go
  core/post.go
  service/posting/service_post.go
  store/postgres/dal/boil_table_names.go
  store/postgres/dal/boil_types.go
  store/postgres/dal/views.go
  store/postgres/migrations/24_failed_post_status.go
  store/postgres/post.go
Labels: scope: api, scope: store, scope: logic

chore(posting): change template (#186)
  service/posting/lot_template.go
Labels: scope: logic

fix(posting): change cfg defaults and fix template related with cfg values
  cli/config.go
  service/posting/lot_template.go
Labels: scope: cli, scope: logic

fix(admin): fix CancelLot method
  service/admin/service_lot.go
Labels: scope: logic

chore: dynamic gateway
  api/gen/models/application_invoice.go
  api/gen/restapi/configure_birzzha.go
  api/gen/restapi/embedded_spec.go
  api/gen/restapi/operations/personal_area/create_application_payment_parameters.go
  api/gen/restapi/operations/personal_area/create_change_price_payment_parameters.go
  api/gen/restapi/operations/webhook/handle_gateway_notification_parameters.go
  api/gen/restapi/operations/webhook/handle_gateway_unitpay_notification_parameters.go
  api/swagger.yml
  cli/run.go
  service/payment/registry.go
  service/personal/service_payment.go
Labels: scope: api, scope: cli, scope: logic

fix(core): change CanCancel method
  core/lot.go
Labels: scope: logic

fix(auth): user avatars from bot
  bot/bot.go
  bot/middleware.go
  service/auth/service.go
  service/auth/telegram_user_info.go
Labels: scope: bot, scope: logic

refactor(notifications): user & admin (#191)
  cli/config.go
  cli/run.go
  core/settings.go
  go.mod
  go.sum
  pkg/notifications/notify.go
  service/admin/notifications.go
  service/admin/service.go
  service/admin/service_lot.go
  service/admin/service_post.go
  service/auth/service.go
  service/notifications/base.go
  service/notifications/service.go
  service/personal/notifications.go
  service/personal/service.go
  service/personal/service_lot.go
  service/personal/service_payment.go
  service/posting/notifications.go
  service/posting/service.go
  service/posting/service_post.go
Labels: scope: cli, scope: pkg, scope: logic, dependencies

fix(personal): fix bug related with extra resource
  service/personal/resource_parser.go
Labels: scope: logic

feat(admin): add user notification for decline lot
  docker-compose.yml
  service/admin/notifications.go
  service/admin/service_lot.go
Labels: scope: logic

chore(admin): add ErrCouponDiscountMustBeSmaller error
  api/gen/restapi/configure_birzzha.go
  api/gen/restapi/embedded_spec.go
  api/gen/restapi/operations/admin/admin_create_coupon.go
  api/gen/restapi/operations/admin/admin_update_coupon.go
  api/swagger.yml
  service/admin/service_coupon.go
Labels: scope: api, scope: logic

fix(admuin): change restriction in UpdateCoupon
  service/admin/service_coupon.go
Labels: scope: logic

chore(admin): make some coupon fields nullable
  api/admin.go
  api/gen/restapi/configure_birzzha.go
  api/gen/restapi/embedded_spec.go
  api/swagger.yml
Labels: scope: api

fix(api): fix cars for invalid lot extra resource
  api/models/lot.go
Labels: scope: api

fix(auth, personal): notifications
  service/auth/notifications.go
  service/auth/service.go
  service/personal/notifications.go
  service/personal/service_lot.go
Labels: scope: logic

fix(posting): template
  service/posting/lot_template.go
Labels: scope: logic

feat(admin, payment): add refund
  cli/run.go
  core/payment.go
  service/admin/service.go
  service/admin/service_lot.go
  service/payment/unitpay/gateway.go
  store/postgres/payment.go
Labels: scope: cli, scope: store, scope: logic

fix(posting): mispell
  service/posting/lot_template.go
  service/posting/service_post.go
Labels: scope: logic

chore(posting): inline link ref
  service/posting/lot_template.go
Labels: scope: logic

fix(posting): mispell
  service/posting/service_post.go
Labels: scope: logic

fix(admin): don't remove post lot link
  service/admin/service_post.go
Labels: scope: logic

chore(admin): add posibility edit post reply markup
  api/admin.go
  api/gen/models/post_item.go
  api/gen/restapi/configure_birzzha.go
  api/gen/restapi/embedded_spec.go
  api/models/post.go
  api/swagger.yml
  cli/run.go
  service/admin/service.go
  service/admin/service_post.go
Labels: scope: api, scope: cli, scope: logic

fix(admin): edit post
  service/admin/service_post.go
Labels: scope: logic

fix(admin): add LotID checking
  service/admin/service_post.go
Labels: scope: logic

fix(admin): add in.LotID checking
  service/admin/service_post.go
Labels: scope: logic

fix(admin): fix UpdatePost
  service/admin/service_post.go
Labels: scope: logic

.github/labeler.yml:

"scope: ci": .github/workflows/**
"scope: api": api/**
"scope: bot": bot/**
"scope: cli": 
  - cli/**
  - main.go

"scope: pkg": pkg/**
"scope: store": store/**
"scope: worker": worker/**

"scope: logic": 
  - core/**
  - service/**

"dependencies":
  - go.mod
  - go.sum
